body {
    background-color: rgb(211, 254, 255);
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
    border: solid 10px rgb(5, 141, 0);
    background:rgb(223, 173, 81) ;
}

#content {
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column ;
    align-items:center;
}

#pelinappi {
    margin: 1em;
    border: solid 8px rgb(5, 141, 0);
    background:rgb(223, 173, 81) ;
    width: 120px;
    height: 60px;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pelinappi:hover {
    background:rgb(131, 95, 27) ;
}

#aloitus {
    display: flex;
    flex-direction: column;
    align-items:center;
}
#lopetus {
    display: flex;
    flex-direction: column;
    align-items:center;
}

h1 {
    font-size: 2em;
}

#pisteruutu {
    width: 800px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    margin-right: 1em;
    margin-top: .2em;

}