body {
    background-color: rgb(100, 100, 100);
}

canvas {
    border: solid 4px rgb(6, 177, 0);
}

#content {
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column ;
    align-items:center;
}

#pelinappi {
    margin: 1em;
}