body {
    background-color: rgb(100, 100, 100);
}

canvas {
    border: solid 10px rgb(5, 141, 0);
    background:rgb(199, 145, 45) ;
}

#content {
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column ;
    align-items:center;
}

#pelinappi {
    margin: 1em;
    border: solid 8px rgb(5, 141, 0);
    background:rgb(199, 145, 45) ;
    width: 120px;
    height: 60px;
    font-size: 2em;
}

#pelinappi:hover {
    background:rgb(131, 95, 27) ;
}